CLOUDFLARE_API_KEY=your-cloudflare-api-key
CLOUDFLARE_ACCOUNT_ID=your-cloudflare-account-id
JUDGE0_BASE_URL=http://judge0-server:2358
JUDGE0_AUTH_TOKEN=
JUDGE0_ENABLE_PER_PROCESS_AND_THREAD_TIME_LIMIT=true
JUDGE0_ENABLE_PER_PROCESS_AND_THREAD_MEMORY_LIMIT=true
